# Census Data from Chicago

In [226]:
# download the libraries
from census import Census
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from us import states
from census.core import ACSClient

# initialize the Census API
c = Census('6315b517232d3a888d9abd180f19bfc48c6fa7c8')

In [227]:
# Patch the ACSClient to handle 'long' data type
def field_type(self, field, year):
    types = {
        'int': int,
        'float': float,
        'string': str,
        'long': int  # Add this line
    }
    return types.get(field, str)

ACSClient._field_type = field_type

In [228]:
# Fetch the list of ACS 5-year tables
tables = c.acs5.tables()

# Filter tables containing the word 'age'
age_tables = [table for table in tables if 'english' in table['description'].lower()]

# Display the filtered tables
for table in age_tables:
    print(f"Table ID: {table['name']}, Description: {table['description']}")# Example table ID to get variables
table_id = "B01001"

# Fetch variables for the table
variables = c.acs5.table(table_id)

# Display the table and its variables
print(f"Table ID: {table_id}")
print("Variables:")
for variable in variables['variables']:
    print(f"{variable}: {variables['variables'][variable]['label']}")

Table ID: B08513, Description: MEANS OF TRANSPORTATION TO WORK BY LANGUAGE SPOKEN AT HOME AND ABILITY TO SPEAK ENGLISH FOR WORKPLACE GEOGRAPHY
Table ID: B26113, Description: GROUP QUARTERS TYPE (3 TYPES) BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH
Table ID: C16002, Description: HOUSEHOLD LANGUAGE BY HOUSEHOLD LIMITED ENGLISH SPEAKING STATUS
Table ID: B06007PR, Description: PLACE OF BIRTH BY LANGUAGE SPOKEN AT HOME AND ABILITY TO SPEAK ENGLISH IN PUERTO RICO
Table ID: B06007, Description: PLACE OF BIRTH BY LANGUAGE SPOKEN AT HOME AND ABILITY TO SPEAK ENGLISH IN THE UNITED STATES
Table ID: B16005F, Description: NATIVITY BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER (SOME OTHER RACE ALONE)
Table ID: B16005G, Description: NATIVITY BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER (TWO OR MORE RACES)
Table ID: B16005H, Description: NATIVITY BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER (WHITE ALONE, NOT HISPANIC OR LATINO)
Table ID: B16005I, Description: NATIVITY BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER (HISPANIC OR LATINO)
Table ID: B16005A, Description: NATIVITY BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER (WHITE ALONE)
Table ID: B16005B, Description: NATIVITY BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)
Table ID: B16005C, Description: NATIVITY BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)
Table ID: B16005D, Description: NATIVITY BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER (ASIAN ALONE)
Table ID: B16005E, Description: NATIVITY BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)
Table ID: B26213, Description: GROUP QUARTERS TYPE (5 TYPES) BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH
Table ID: B16001, Description: LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
Table ID: B16006, Description: LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER (HISPANIC OR LATINO)
Table ID: B16005, Description: NATIVITY BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
Table ID: B16004, Description: AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
Table ID: B16003, Description: AGE BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 5 YEARS AND OVER IN LIMITED ENGLISH SPEAKING HOUSEHOLDS
Table ID: B16008, Description: CITIZENSHIP STATUS BY AGE BY LANGUAGE SPOKEN AT HOME AND ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
Table ID: B10054, Description: LANGUAGE AND ABILITY TO SPEAK ENGLISH OF GRANDPARENTS LIVING WITH OWN GRANDCHILDREN UNDER 18 YEARS BY RESPONSIBILITY FOR OWN GRANDCHILDREN AND AGE OF GRANDPARENT
Table ID: B99163, Description: ALLOCATION OF ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
Table ID: B08113, Description: MEANS OF TRANSPORTATION TO WORK BY LANGUAGE SPOKEN AT HOME AND ABILITY TO SPEAK ENGLISH

AttributeError: 'ACS5Client' object has no attribute 'table'

In [229]:
# create list of demographic data
variable_list = ['B19001_001E', 
                'B15003_001E', 'B15003_017E', 'B15003_018E', 
                'B08201_001E', 'B08201_002E',
                'B23025_001E', 'B23025_002E', 'B23025_007E', 
                'B05001_001E', 'B05001_006E', 
                'B16004_001E', 'B16004_007E', 'B16004_008E', 'B16004_012E', 'B16004_013E', 'B16004_017E', 
                'B16004_018E', 'B16004_022E', 'B16004_023E', 'B16004_029E', 'B16004_030E', 'B16004_034E',
                'B16004_035E', 'B16004_039E', 'B16004_040E', 'B16004_044E', 'B16004_045E', 'B16004_051E',
                'B16004_052E', 'B16004_056E', 'B16004_057E', 'B16004_061E', 'B16004_062E', 'B16004_066E', 'B16004_067E',
                'B01001_001E', 'B01001_018E', 'B01001_019E', 'B01001_020E', 'B01001_021E',
                'B01001_022E', 'B01001_023E', 'B01001_024E', 'B01001_025E', 'B01001_042E', 'B01001_043E',
                'B01001_044E', 'B01001_045E', 'B01001_046E', 'B01001_047E', 'B01001_048E', 'B01001_049E',
                'B01001_005E', 'B01001_006E', 'B01001_007E', 'B01001_029E', 'B01001_030E', 'B01001_031E',
                'B18101_001E', 'B18101_004E', 'B18101_007E', 'B18101_010E', 'B18101_013E', 'B18101_016E', 'B18101_019E',
                'B18101_023E', 'B18101_026E', 'B18101_029E', 'B18101_032E', 'B18101_035E', 'B18101_038E',
                'B08301_001E', 'B08301_010E']

In [230]:
# download census variables for Cook County, IL
data = c.acs5.state_county_tract((variable_list), '17', '031', Census.ALL)

In [231]:
# Make DataFrame
df = pd.DataFrame(data)
df

,B19001_001E,B15003_001E,B15003_017E,B15003_018E,B08201_001E,B08201_002E,B23025_001E,B23025_002E,B23025_007E,B05001_001E,...,B18101_016E,B18101_019E,B18101_023E,B18101_026E,B18101_029E,B18101_032E,B18101_035E,B18101_038E,B08301_001E,B08301_010E
0,2411,3285,438,50,2411,1116,3910,2830,1080,4534,...,94,42,0,0,0,171,37,30,2628,929
1,2996,4931,1206,260,2996,895,5868,3840,2028,8232,...,36,21,0,0,18,232,44,0,3605,990
2,1234,2178,282,150,1234,487,2551,1632,919,3124,...,14,21,0,0,9,130,64,47,1441,711
3,2995,5092,808,297,2995,1108,5572,3380,2192,6085,...,45,23,0,0,28,160,13,138,3206,771
4,2034,2510,118,31,2034,989,4496,2378,2118,4587,...,0,15,0,0,16,53,0,31,2244,773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327,809,1768,496,19,809,165,2133,1473,660,2490,...,37,8,0,0,36,36,8,48,1008,189
1328,653,1030,174,69,653,189,1279,752,527,1573,...,5,15,0,0,0,88,17,40,567,113
1329,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1330,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1331,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [232]:
# Rename the columns for better readability
df = df.rename(columns={
    'B19001_001E' : 'income',
    'B15003_001E' : 'total_pop_education',
    'B15003_017E' :	'diploma',
    'B15003_018E' : 'ged',
    'B08201_001E' : 'total_vehicle',
    'B08201_002E' :	'no_vehicle',
    'B23025_001E' : 'total_employment',
    'B23025_002E' :	'employed',
    'B23025_007E' : 'unemployed',
    'B05001_001E' : 'total_citizen',
    'B05001_006E' : 'not_us_citizen',
    'B16004_001E' : 'total_language',	
    'B16004_007E' : '5_to_17_spanish_not_well',
    'B16004_008E' : '5_to_17_spanish_not_all',
    'B16004_012E' : '5_to_17_europe_not_well',
    'B16004_013E' : '5_to_17_europe_not_all',
    'B16004_017E' : '5_to_17_asian_not_well',
    'B16004_018E' : '5_to_17_asian_not_all',
    'B16004_022E' : '5_to_17_other_not_well',
    'B16004_023E' : '5_to_17_other_not_all',
    'B16004_029E' : '18_to_64_spanish_not_well',
    'B16004_030E' : '18_to_64_spanish_not_all',
    'B16004_034E' : '18_to_64_europe_not_well',
    'B16004_035E' : '18_to_64_europe_not_all',
    'B16004_039E' : '18_to_64_asian_not_well',
    'B16004_040E' : '18_to_64_asian_not_all',
    'B16004_044E' : '18_to_64_other_not_well',
    'B16004_045E' : '18_to_64_other_not_all',
    'B16004_051E' : 'over_65_spanish_not_well',
    'B16004_052E' : 'over_65_spanish_not_all',
    'B16004_056E' : 'over_65_europe_not_well',
    'B16004_057E' : 'over_65_europe_not_all',
    'B16004_061E' : 'over_65_asian_not_well',
    'B16004_062E' : 'over_65_asian_not_all',
    'B16004_066E' : 'over_65_other_not_well',
    'B16004_067E' : 'over_65_other_not_all',
    'B01001_001E' : 'total_age',
    'B01001_018E' :	'male_60_to_61',
    'B01001_019E' :	'male_62_to_64',
    'B01001_020E' :	'male_65_to_66',
    'B01001_021E' :	'male_67_to_69',
    'B01001_022E' :	'male_70_to_74',
    'B01001_023E' :	'male_75_to_79',
    'B01001_024E' :	'male_80_to_84',
    'B01001_025E' :	'male_over_85',
    'B01001_042E' :	'female_60_to_61',	
    'B01001_043E' :	'female_62_to_64',
    'B01001_044E' :	'female_65_to_66',
    'B01001_045E' :	'female_67_to_69',
    'B01001_046E' :	'female_70_to_74',	
    'B01001_047E' : 'female_75_to_79',	
    'B01001_048E' :	'female_80_to_84',	
    'B01001_049E' :	'female_over_85',
    'B01001_005E' :	'male_10_to_14',
    'B01001_006E' :	'male_15_to_17',
    'B01001_007E' :	'male_18_to_19',
    'B01001_029E' :	'female_10_to_14',
    'B01001_030E' :	'female_15_to_17',
    'B01001_031E' : 'female_18_to_19',
    'B18101_001E' : 'total_disability',
    'B18101_004E' : 'male_under_5_with_disability',
    'B18101_007E' :	'male_5_to_17_with_disability',
    'B18101_010E' : 'male_18_to_34_with_disability',	
    'B18101_013E' : 'male_35_to_64_with_disability',
    'B18101_016E' : 'male_65_to_74_with_disability',
    'B18101_019E' :	'male_over_75_with_disability',
    'B18101_023E' :	'female_under_5_with_disability',
    'B18101_026E' :	'female_5_to_17_with_disability',
    'B18101_029E' :	'female_18_to_34_with_disability',
    'B18101_032E' :	'female_35_to_64_with_disability',
    'B18101_035E' :	'female_65_to_74_with_disability',
    'B18101_038E' :	'female_over_74_with_disability',
    'B08301_001E' : 'total_transit',
    'B08301_010E' :	'public_transit'
    })

In [233]:
# Check if any column has missing values
# Count missing values in each column
missing_count = df.isna().sum()
print(missing_count)

income                             0
total_pop_education                0
diploma                            0
ged                                0
total_vehicle                      0
                                  ..
female_35_to_64_with_disability    0
female_65_to_74_with_disability    0
female_over_74_with_disability     0
total_transit                      0
public_transit                     0
Length: 78, dtype: int64

In [234]:
# List of columns to convert to numeric
columns_to_convert = ['income', 'total_pop_education', 'diploma', 'ged', 'total_vehicle',
       'no_vehicle', 'total_employment', 'employed', 'unemployed',
       'total_citizen', 'not_us_citizen', 'total_language',
       '5_to_17_spanish_not_well', '5_to_17_spanish_not_all',
       '5_to_17_europe_not_well', '5_to_17_europe_not_all',
       '5_to_17_asian_not_well', '5_to_17_asian_not_all',
       '5_to_17_other_not_well', '5_to_17_other_not_all',
       '18_to_64_spanish_not_well', '18_to_64_spanish_not_all',
       '18_to_64_europe_not_well', '18_to_64_europe_not_all',
       '18_to_64_asian_not_well', '18_to_64_asian_not_all',
       '18_to_64_other_not_well', '18_to_64_other_not_all',
       'over_65_spanish_not_well', 'over_65_spanish_not_all',
       'over_65_europe_not_well', 'over_65_europe_not_all',
       'over_65_asian_not_well', 'over_65_asian_not_all',
       'over_65_other_not_well', 'over_65_other_not_all', 'total_age',
       'male_60_to_61', 'male_62_to_64', 'male_65_to_66', 'male_67_to_69',
       'male_70_to_74', 'male_75_to_79', 'male_80_to_84', 'male_over_85',
       'female_60_to_61', 'female_62_to_64', 'female_65_to_66',
       'female_67_to_69', 'female_70_to_74',
       'female_75_to_79', 'female_80_to_84', 'female_over_85', 'male_10_to_14',
       'male_15_to_17', 'male_18_to_19', 'female_10_to_14', 'female_15_to_17',
       'female_18_to_19', 'total_disability', 'male_under_5_with_disability',
       'male_5_to_17_with_disability', 'male_18_to_34_with_disability',
       'male_35_to_64_with_disability', 'male_65_to_74_with_disability',
       'male_over_75_with_disability', 'female_under_5_with_disability',
       'female_5_to_17_with_disability', 'female_18_to_34_with_disability',
       'female_35_to_64_with_disability', 'female_65_to_74_with_disability',
       'female_over_74_with_disability', 'total_transit', 'public_transit']

# Convert specified columns to numeric
df[columns_to_convert] = df[columns_to_convert].apply(lambda col: pd.to_numeric(col, errors='coerce'))

print("\nDataFrame after converting specified columns to numeric:")
print(df)

DataFrame after converting specified columns to numeric:
      income  total_pop_education  diploma  ged  total_vehicle  no_vehicle  \
0       2411                 3285      438   50           2411        1116
1       2996                 4931     1206  260           2996         895
2       1234                 2178      282  150           1234         487
3       2995                 5092      808  297           2995        1108
4       2034                 2510      118   31           2034         989
...      ...                  ...      ...  ...            ...         ...
1327     809                 1768      496   19            809         165
1328     653                 1030      174   69            653         189
1329       0                    0        0    0              0           0
1330       0                    0        0    0              0           0
1331       0                    0        0    0              0           0

      total_employment  employed  unemployed  total_citizen  ...  \
0                 3910      2830        1080           4534  ...
1                 5868      3840        2028           8232  ...
2                 2551      1632         919           3124  ...
3                 5572      3380        2192           6085  ...
4                 4496      2378        2118           4587  ...
...                ...       ...         ...            ...  ...
1327              2133      1473         660           2490  ...
1328              1279       752         527           1573  ...
1329                 0         0           0              0  ...
1330                 0         0           0              0  ...
1331                 0         0           0              0  ...

      male_65_to_74_with_disability  male_over_75_with_disability  \
0                                94                            42
1                                36                            21
2                                14                            21
3                                45                            23
4                                 0                            15
...                             ...                           ...
1327                             37                             8
1328                              5                            15
1329                              0                             0
1330                              0                             0
1331                              0                             0

      female_under_5_with_disability  female_5_to_17_with_disability  \
0                                  0                               0
1                                  0                               0
2                                  0                               0
3                                  0                               0
4                                  0                               0
...                              ...                             ...
1327                               0                               0
1328                               0                               0
1329                               0                               0
1330                               0                               0
1331                               0                               0

      female_18_to_34_with_disability  female_35_to_64_with_disability  \
0                                   0                              171
1                                  18                              232
2                                   9                              130
3                                  28                              160
4                                  16                               53
...                               ...                              ...
1327                               36                               36
1328                                0                               88
1329                                0                                0
1330                                0                                0
1331                                0                                0

      female_65_to_74_with_disability  female_over_74_with_disability  \
0                                  37                              30
1                                  44                               0
2                                  64                              47
3                                  13                             138
4                                   0                              31
...                               ...                             ...
1327                                8                              48
1328                               17                              40
1329                                0                               0
1330                                0                               0
1331                                0                               0

      total_transit  public_transit
0              2628             929
1              3605             990
2              1441             711
3              3206             771
4              2244             773
...             ...             ...
1327           1008             189
1328            567             113
1329              0               0
1330              0               0
1331              0               0

[1332 rows x 78 columns]

In [235]:
# Calculate the percentage of the population that completed high school
df['percent_higher_ed'] = ((df['diploma'] + df['ged']) / df['total_pop_education'])

In [236]:
# Calculate the percentage of the population that has no access to a car
df['percent_vehicle_access'] = (df['no_vehicle'] / df['total_vehicle'])

In [237]:
# Calculate the percentage of the population that is employed
df['percent_employed'] = (df['employed'] / df['total_employment'])

In [238]:
# Calculate the percentage of the population that are not US citizens
df['percent_citizen'] = (df['not_us_citizen'] / df['total_citizen'])

In [239]:
# Calculate the percentage of the population that speak english not well or not at all
df['percent_english_speaking'] = ((df['5_to_17_spanish_not_well'] + df['5_to_17_spanish_not_all'] + df['5_to_17_europe_not_well'] +
                                df['5_to_17_europe_not_all'] + df['5_to_17_asian_not_well'] + df['5_to_17_asian_not_all'] +
                                df['5_to_17_other_not_well'] + df['5_to_17_other_not_all'] + df['18_to_64_spanish_not_well'] +
                                df['18_to_64_spanish_not_all'] + df['18_to_64_europe_not_well'] + df['18_to_64_europe_not_all'] +
                                df['18_to_64_asian_not_well'] + df['18_to_64_asian_not_all'] + df['18_to_64_other_not_well'] +
                                df['18_to_64_other_not_all'] + df['over_65_spanish_not_well'] + df['over_65_spanish_not_all'] +
                                df['over_65_europe_not_well'] + df['over_65_europe_not_all'] + df['over_65_asian_not_well'] +
                                df['over_65_asian_not_all'] + df['over_65_other_not_well'] + df['over_65_other_not_all'])
                                  / df['total_language'])

In [240]:
# Calculate the percentage of the population that is older than 60
df['percent_older_60'] = ((df['male_60_to_61'] + df['male_62_to_64'] + df['male_65_to_66'] +
                        df['male_67_to_69'] + df['male_70_to_74'] + df['male_75_to_79'] +
                        df['male_80_to_84'] + df['male_over_85'] +
                        df['female_60_to_61'] + df['female_62_to_64'] + df['female_65_to_66'] +
                        df['female_67_to_69'] + df['female_70_to_74'] + df['female_75_to_79'] +
                        df['female_80_to_84'] + df['female_over_85'])
                        / df['total_age'])

In [241]:
# Calculate the percentage of the population that between 10 and 19
df['percent_younger_19'] = ((df['male_10_to_14'] + df['male_15_to_17'] + df['male_18_to_19'] +
                        df['female_10_to_14'] + df['female_15_to_17'] + df['female_18_to_19'])
                        / df['total_age'])

In [242]:
# Calculate the percentage of the population that have a disability
df['percent_disability'] = ((df['male_under_5_with_disability'] + df['male_5_to_17_with_disability'] + df['male_18_to_34_with_disability'] +
                            df['male_35_to_64_with_disability'] + df['male_65_to_74_with_disability'] + 
                            df['male_over_75_with_disability'] + df['female_under_5_with_disability'] + df['female_5_to_17_with_disability'] +
                            df['female_18_to_34_with_disability'] + df['female_35_to_64_with_disability'] + 
                            df['female_65_to_74_with_disability'] + df['female_over_74_with_disability'])
                            / df['total_disability'])

In [243]:
# Calculate the percentage of the population that use public transit to get to work
df['percent_transit'] = (df['public_transit'] / df['total_transit'])
print(df)

      income  total_pop_education  diploma  ged  total_vehicle  no_vehicle  \
0       2411                 3285      438   50           2411        1116
1       2996                 4931     1206  260           2996         895
2       1234                 2178      282  150           1234         487
3       2995                 5092      808  297           2995        1108
4       2034                 2510      118   31           2034         989
...      ...                  ...      ...  ...            ...         ...
1327     809                 1768      496   19            809         165
1328     653                 1030      174   69            653         189
1329       0                    0        0    0              0           0
1330       0                    0        0    0              0           0
1331       0                    0        0    0              0           0

      total_employment  employed  unemployed  total_citizen  ...  \
0                 3910      2830        1080           4534  ...
1                 5868      3840        2028           8232  ...
2                 2551      1632         919           3124  ...
3                 5572      3380        2192           6085  ...
4                 4496      2378        2118           4587  ...
...                ...       ...         ...            ...  ...
1327              2133      1473         660           2490  ...
1328              1279       752         527           1573  ...
1329                 0         0           0              0  ...
1330                 0         0           0              0  ...
1331                 0         0           0              0  ...

      public_transit  percent_higher_ed  percent_vehicle_access  \
0                929           0.148554                0.462878
1                990           0.297303                0.298732
2                711           0.198347                0.394652
3                771           0.217007                0.369950
4                773           0.059363                0.486234
...              ...                ...                     ...
1327             189           0.291290                0.203956
1328             113           0.235922                0.289433
1329               0                NaN                     NaN
1330               0                NaN                     NaN
1331               0                NaN                     NaN

      percent_employed  percent_citizen  percent_english_speaking  \
0             0.723785         0.128805                  0.014149
1             0.654397         0.204568                  0.121892
2             0.639749         0.230794                  0.109267
3             0.606604         0.115859                  0.052722
4             0.528915         0.071288                  0.022573
...                ...              ...                       ...
1327          0.690577         0.022490                  0.014382
1328          0.587959         0.062301                  0.052632
1329               NaN              NaN                       NaN
1330               NaN              NaN                       NaN
1331               NaN              NaN                       NaN

      percent_older_60  percent_younger_19  percent_disability  \
0             0.159682            0.067049            0.140797
1             0.093294            0.144679            0.083465
2             0.193982            0.123880            0.150864
3             0.296467            0.020871            0.090384
4             0.083933            0.238936            0.114018
...                ...                 ...                 ...
1327          0.152209            0.084739            0.121370
1328          0.125238            0.116338            0.154482
1329               NaN                 NaN                 NaN
1330               NaN                 NaN                 NaN
1331               NaN                 NaN                 NaN

      percent_transit
0            0.353501
1            0.274619
2            0.493407
3            0.240487
4            0.344474
...               ...
1327         0.187500
1328         0.199295
1329              NaN
1330              NaN
1331              NaN

[1332 rows x 87 columns]

In [220]:
# List of columns to convert to numeric
columns_to_convert = ['percent_higher_ed', 'percent_vehicle_access', 'percent_employed',
       'percent_citizen', 'percent_english_speaking', 'percent_older_60',
       'percent_younger_19', 'percent_disability', 'percent_transit']

# Convert specified columns to numeric
df[columns_to_convert] = df[columns_to_convert].apply(lambda col: pd.to_numeric(col, errors='coerce'))

print("\nDataFrame after converting specified columns to numeric:")
print(df)

DataFrame after converting specified columns to numeric:
      income  total_pop_education  diploma  ged  total_vehicle  no_vehicle  \
0       2411                 3285      438   50           2411        1116
1       2996                 4931     1206  260           2996         895
2       1234                 2178      282  150           1234         487
3       2995                 5092      808  297           2995        1108
4       2034                 2510      118   31           2034         989
...      ...                  ...      ...  ...            ...         ...
1327     809                 1768      496   19            809         165
1328     653                 1030      174   69            653         189
1329       0                    0        0    0              0           0
1330       0                    0        0    0              0           0
1331       0                    0        0    0              0           0

      total_employment  employed  unemployed  total_citizen  ...  \
0                 3910      2830        1080           4534  ...
1                 5868      3840        2028           8232  ...
2                 2551      1632         919           3124  ...
3                 5572      3380        2192           6085  ...
4                 4496      2378        2118           4587  ...
...                ...       ...         ...            ...  ...
1327              2133      1473         660           2490  ...
1328              1279       752         527           1573  ...
1329                 0         0           0              0  ...
1330                 0         0           0              0  ...
1331                 0         0           0              0  ...

      public_transit  percent_higher_ed  percent_vehicle_access  \
0                929           0.148554                0.462878
1                990           0.297303                0.298732
2                711           0.198347                0.394652
3                771           0.217007                0.369950
4                773           0.059363                0.486234
...              ...                ...                     ...
1327             189           0.291290                0.203956
1328             113           0.235922                0.289433
1329               0                NaN                     NaN
1330               0                NaN                     NaN
1331               0                NaN                     NaN

      percent_employed  percent_citizen  percent_english_speaking  \
0             0.723785         0.128805                  0.014149
1             0.654397         0.204568                  0.121892
2             0.639749         0.230794                  0.109267
3             0.606604         0.115859                  0.052722
4             0.528915         0.071288                  0.022573
...                ...              ...                       ...
1327          0.690577         0.022490                  0.014382
1328          0.587959         0.062301                  0.052632
1329               NaN              NaN                       NaN
1330               NaN              NaN                       NaN
1331               NaN              NaN                       NaN

      percent_older_60  percent_younger_19  percent_disability  \
0             0.159682            0.067049            0.140797
1             0.093294            0.144679            0.083465
2             0.193982            0.123880            0.150864
3             0.296467            0.020871            0.090384
4             0.083933            0.238936            0.114018
...                ...                 ...                 ...
1327          0.152209            0.084739            0.121370
1328          0.125238            0.116338            0.154482
1329               NaN                 NaN                 NaN
1330               NaN                 NaN                 NaN
1331               NaN                 NaN                 NaN

      percent_transit
0            0.353501
1            0.274619
2            0.493407
3            0.240487
4            0.344474
...               ...
1327         0.187500
1328         0.199295
1329              NaN
1330              NaN
1331              NaN

[1332 rows x 87 columns]

In [24]:
# 10 VARIABLES
                 
# household income:
            # B19001_001E	Estimate!!Total:	HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2021 INFLATION-ADJUSTED DOLLARS)
# education level: B15001_001E
            # B15003_001E	Estimate!!Total:	EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER
            # B15003_017E	Estimate!!Total:!!Regular high school diploma	EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER
            # B15003_018E	Estimate!!Total:!!GED or alternative credential	EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER
# vehicle ownership:
            # B08201_001E	Estimate!!Total:	HOUSEHOLD SIZE BY VEHICLES AVAILABLE
            # B08201_002E	Estimate!!Total:!!No vehicle available	HOUSEHOLD SIZE BY VEHICLES AVAILABLE
# unemployment: 
            # B23025_001E	Estimate!!Total:	EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER
            # B23025_002E	Estimate!!Total:!!In labor force:
            # B23025_007E	Estimate!!Total:!!Not in labor force	EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER
# citizenship status: 
            # B05001_001E	Estimate!!Total:
            # B05001_006E	Estimate!!Total:!!Not a U.S. citizen	NATIVITY AND CITIZENSHIP STATUS IN THE UNITED STATES
# english-speaking proficiency
            # B16004_001E	Estimate!!Total:	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_007E	Estimate!!Total:!!5 to 17 years:!!Speak Spanish:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_008E	Estimate!!Total:!!5 to 17 years:!!Speak Spanish:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_012E	Estimate!!Total:!!5 to 17 years:!!Speak other Indo-European languages:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_013E	Estimate!!Total:!!5 to 17 years:!!Speak other Indo-European languages:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_017E	Estimate!!Total:!!5 to 17 years:!!Speak Asian and Pacific Island languages:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_018E	Estimate!!Total:!!5 to 17 years:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_022E	Estimate!!Total:!!5 to 17 years:!!Speak other languages:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_023E	Estimate!!Total:!!5 to 17 years:!!Speak other languages:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_029E	Estimate!!Total:!!18 to 64 years:!!Speak Spanish:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_030E	Estimate!!Total:!!18 to 64 years:!!Speak Spanish:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_034E	Estimate!!Total:!!18 to 64 years:!!Speak other Indo-European languages:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER	
            # B16004_035E	Estimate!!Total:!!18 to 64 years:!!Speak other Indo-European languages:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_039E	Estimate!!Total:!!18 to 64 years:!!Speak Asian and Pacific Island languages:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER	
            # B16004_040E	Estimate!!Total:!!18 to 64 years:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_044E	Estimate!!Total:!!18 to 64 years:!!Speak other languages:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_045E	Estimate!!Total:!!18 to 64 years:!!Speak other languages:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_051E	Estimate!!Total:!!65 years and over:!!Speak Spanish:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_052E	Estimate!!Total:!!65 years and over:!!Speak Spanish:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_056E	Estimate!!Total:!!65 years and over:!!Speak other Indo-European languages:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_057E	Estimate!!Total:!!65 years and over:!!Speak other Indo-European languages:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_061E	Estimate!!Total:!!65 years and over:!!Speak Asian and Pacific Island languages:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_062E	Estimate!!Total:!!65 years and over:!!Speak Asian and Pacific Island languages:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_066E	Estimate!!Total:!!65 years and over:!!Speak other languages:!!Speak English "not well"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER
            # B16004_067E	Estimate!!Total:!!65 years and over:!!Speak other languages:!!Speak English "not at all"	AGE BY LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER

# seniors older than 60
            # B01001_001E	Estimate!!Total:	SEX BY AGE
            # B01001_018E	Estimate!!Total:!!Male:!!60 and 61 years
            # B01001_019E	Estimate!!Total:!!Male:!!62 to 64 years
            # B01001_020E	Estimate!!Total:!!Male:!!65 and 66 years
            # B01001_021E	Estimate!!Total:!!Male:!!67 to 69 years
            # B01001_022E	Estimate!!Total:!!Male:!!70 to 74 years
            # B01001_023E	Estimate!!Total:!!Male:!!75 to 79 years
            # B01001_024E	Estimate!!Total:!!Male:!!80 to 84 years
            # B01001_025E	Estimate!!Total:!!Male:!!85 years and over
            # B01001_042E	Estimate!!Total:!!Female:!!60 and 61 years	
            # B01001_043E	Estimate!!Total:!!Female:!!62 to 64 years	
            # B01001_044E	Estimate!!Total:!!Female:!!65 and 66 years	
            # B01001_045E	Estimate!!Total:!!Female:!!67 to 69 years	
            # B01001_046E	Estimate!!Total:!!Female:!!70 to 74 years	
            # B01001_047E	Estimate!!Total:!!Female:!!75 to 79 years	
            # B01001_048E	Estimate!!Total:!!Female:!!80 to 84 years	
            # B01001_049E	Estimate!!Total:!!Female:!!85 years and over
# children between 10 and 19 years old
            # B01001_001E	Estimate!!Total:	SEX BY AGE
            # B01001_005E	Estimate!!Total:!!Male:!!10 to 14 years
            # B01001_006E	Estimate!!Total:!!Male:!!15 to 17 years
            # B01001_007E	Estimate!!Total:!!Male:!!18 and 19 years
            # B01001_029E	Estimate!!Total:!!Female:!!10 to 14 years
            # B01001_030E	Estimate!!Total:!!Female:!!15 to 17 years
            # B01001_031E	Estimate!!Total:!!Female:!!18 and 19 years
# physical impairment
            # B18101_001E	Estimate!!Total:	SEX BY AGE BY DISABILITY STATUS
            # B18101_004E	Estimate!!Total:!!Male:!!Under 5 years:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_007E	Estimate!!Total:!!Male:!!5 to 17 years:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_010E	Estimate!!Total:!!Male:!!18 to 34 years:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_013E	Estimate!!Total:!!Male:!!35 to 64 years:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_016E	Estimate!!Total:!!Male:!!65 to 74 years:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_019E	Estimate!!Total:!!Male:!!75 years and over:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_023E	Estimate!!Total:!!Female:!!Under 5 years:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_026E	Estimate!!Total:!!Female:!!5 to 17 years:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_029E	Estimate!!Total:!!Female:!!18 to 34 years:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_032E	Estimate!!Total:!!Female:!!35 to 64 years:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_035E	Estimate!!Total:!!Female:!!65 to 74 years:!!With a disability	SEX BY AGE BY DISABILITY STATUS
            # B18101_038E	Estimate!!Total:!!Female:!!75 years and over:!!With a disability	SEX BY AGE BY DISABILITY STATUS
# transit users
            # B08301_001E	Estimate!!Total:	MEANS OF TRANSPORTATION TO WORK
            # B08301_010E	Estimate!!Total:!!Public transportation (excluding taxicab):	MEANS OF TRANSPORTATION TO WORK

In [244]:
# download the tract level geometry
tract = gpd.read_file("tl_2021_17_tract.shp")

In [245]:
# Drop state column and print names of columns
# df = df.drop(['state'], axis=1)

column_names = df.columns
print(column_names)

Index(['income', 'total_pop_education', 'diploma', 'ged', 'total_vehicle',
       'no_vehicle', 'total_employment', 'employed', 'unemployed',
       'total_citizen', 'not_us_citizen', 'total_language',
       '5_to_17_spanish_not_well', '5_to_17_spanish_not_all',
       '5_to_17_europe_not_well', '5_to_17_europe_not_all',
       '5_to_17_asian_not_well', '5_to_17_asian_not_all',
       '5_to_17_other_not_well', '5_to_17_other_not_all',
       '18_to_64_spanish_not_well', '18_to_64_spanish_not_all',
       '18_to_64_europe_not_well', '18_to_64_europe_not_all',
       '18_to_64_asian_not_well', '18_to_64_asian_not_all',
       '18_to_64_other_not_well', '18_to_64_other_not_all',
       'over_65_spanish_not_well', 'over_65_spanish_not_all',
       'over_65_europe_not_well', 'over_65_europe_not_all',
       'over_65_asian_not_well', 'over_65_asian_not_all',
       'over_65_other_not_well', 'over_65_other_not_all', 'total_age',
       'male_60_to_61', 'male_62_to_64', 'male_65_to_66', 'male_67_to_69',
       'male_70_to_74', 'male_75_to_79', 'male_80_to_84', 'male_over_85',
       'female_60_to_61', 'female_62_to_64', 'female_65_to_66',
       'female_67_to_69', 'GEO_ID', 'state', 'county', 'tract',
       'female_70_to_74', 'female_75_to_79', 'female_80_to_84',
       'female_over_85', 'male_10_to_14', 'male_15_to_17', 'male_18_to_19',
       'female_10_to_14', 'female_15_to_17', 'female_18_to_19',
       'total_disability', 'male_under_5_with_disability',
       'male_5_to_17_with_disability', 'male_18_to_34_with_disability',
       'male_35_to_64_with_disability', 'male_65_to_74_with_disability',
       'male_over_75_with_disability', 'female_under_5_with_disability',
       'female_5_to_17_with_disability', 'female_18_to_34_with_disability',
       'female_35_to_64_with_disability', 'female_65_to_74_with_disability',
       'female_over_74_with_disability', 'total_transit', 'public_transit',
       'percent_higher_ed', 'percent_vehicle_access', 'percent_employed',
       'percent_citizen', 'percent_english_speaking', 'percent_older_60',
       'percent_younger_19', 'percent_disability', 'percent_transit'],
      dtype='object')

In [246]:
# merge the census data with the tract level geometry
# Perform the merge
df = pd.merge(tract, df, left_on=['TRACTCE', 'COUNTYFP'], right_on=['tract', 'county'], how='inner')

df.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,public_transit,percent_higher_ed,percent_vehicle_access,percent_employed,percent_citizen,percent_english_speaking,percent_older_60,percent_younger_19,percent_disability,percent_transit
0,17,031,221000,17031221000,2210,Census Tract 2210,G5020,S,220053,0,...,365,0.266074,0.228598,0.769569,0.109339,0.082658,0.108171,0.068093,0.094163,0.223789
1,17,031,221100,17031221100,2211,Census Tract 2211,G5020,S,440042,0,...,887,0.226835,0.245152,0.728607,0.090485,0.085209,0.184749,0.056914,0.081157,0.326463
2,17,031,242800,17031242800,2428,Census Tract 2428,G5020,S,439630,0,...,187,0.152666,0.107576,0.796923,0.039078,0.079616,0.210122,0.056374,0.077514,0.189848
3,17,031,242900,17031242900,2429,Census Tract 2429,G5020,S,323819,0,...,206,0.051831,0.127182,0.823043,0.134296,0.059834,0.088283,0.071161,0.086142,0.162717
4,17,031,243000,17031243000,2430,Census Tract 2430,G5020,S,324547,0,...,334,0.093949,0.166821,0.796043,0.038619,0.016867,0.150386,0.027715,0.059973,0.233730

In [247]:
from scipy.stats import zscore

In [248]:
# Standarize Data
columns_to_standardize = ['income', 'percent_higher_ed', 'percent_vehicle_access', 'percent_employed',
       'percent_citizen', 'percent_english_speaking', 'percent_older_60',
       'percent_younger_19', 'percent_disability', 'percent_transit']

# Calculate z-scores for the specified columns
df[columns_to_standardize] = df[columns_to_standardize].apply(zscore)
print("\nDataFrame with z-scores:")
print(df)

DataFrame with z-scores:
     STATEFP COUNTYFP TRACTCE        GEOID     NAME              NAMELSAD  \
0         17      031  221000  17031221000     2210     Census Tract 2210
1         17      031  221100  17031221100     2211     Census Tract 2211
2         17      031  242800  17031242800     2428     Census Tract 2428
3         17      031  242900  17031242900     2429     Census Tract 2429
4         17      031  243000  17031243000     2430     Census Tract 2430
...      ...      ...     ...          ...      ...                   ...
1327      17      031  050300  17031050300      503      Census Tract 503
1328      17      031  830700  17031830700     8307     Census Tract 8307
1329      17      031  834700  17031834700     8347     Census Tract 8347
1330      17      031  824123  17031824123  8241.23  Census Tract 8241.23
1331      17      031  804405  17031804405  8044.05  Census Tract 8044.05

      MTFCC FUNCSTAT    ALAND  AWATER  ... public_transit percent_higher_ed  \
0     G5020        S   220053       0  ...            365               NaN
1     G5020        S   440042       0  ...            887               NaN
2     G5020        S   439630       0  ...            187               NaN
3     G5020        S   323819       0  ...            206               NaN
4     G5020        S   324547       0  ...            334               NaN
...     ...      ...      ...     ...  ...            ...               ...
1327  G5020        S   380031   14700  ...            241               NaN
1328  G5020        S   861986    7945  ...            955               NaN
1329  G5020        S   657991       0  ...             95               NaN
1330  G5020        S  3917329   25455  ...            173               NaN
1331  G5020        S  1674250       0  ...             24               NaN

     percent_vehicle_access  percent_employed  percent_citizen  \
0                       NaN               NaN              NaN
1                       NaN               NaN              NaN
2                       NaN               NaN              NaN
3                       NaN               NaN              NaN
4                       NaN               NaN              NaN
...                     ...               ...              ...
1327                    NaN               NaN              NaN
1328                    NaN               NaN              NaN
1329                    NaN               NaN              NaN
1330                    NaN               NaN              NaN
1331                    NaN               NaN              NaN

      percent_english_speaking  percent_older_60  percent_younger_19  \
0                          NaN               NaN                 NaN
1                          NaN               NaN                 NaN
2                          NaN               NaN                 NaN
3                          NaN               NaN                 NaN
4                          NaN               NaN                 NaN
...                        ...               ...                 ...
1327                       NaN               NaN                 NaN
1328                       NaN               NaN                 NaN
1329                       NaN               NaN                 NaN
1330                       NaN               NaN                 NaN
1331                       NaN               NaN                 NaN

      percent_disability  percent_transit
0                    NaN              NaN
1                    NaN              NaN
2                    NaN              NaN
3                    NaN              NaN
4                    NaN              NaN
...                  ...              ...
1327                 NaN              NaN
1328                 NaN              NaN
1329                 NaN              NaN
1330                 NaN              NaN
1331                 NaN              NaN

[1332 rows x 100 columns]

In [ ]:
# Sum the z-scores across the specified columns
df['transit_dependency_score'] = df[columns_to_standardize].sum(axis=1)
print("\nDataFrame with transit dependency scores:")
print(df)

In [ ]:
# Group the transit dependency scores into quartiles
df['quartile'] = pd.qcut(df['transit_dependency_score'], 4, labels=['Low', 'Moderate-Low', 'Moderate-High', 'High'])
print("\nDataFrame with transit dependency score quartiles:")
print(df)

In [167]:


# Normalize the specified columns using Min-Max normalization
new_df[columns_to_normalize] = new_df[columns_to_normalize].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
print("\nDataFrame after normalizing specified columns:")
print(new_df)

DataFrame after normalizing specified columns:
     STATEFP COUNTYFP TRACTCE        GEOID     NAME              NAMELSAD  \
0         17      031  221000  17031221000     2210     Census Tract 2210
1         17      031  221100  17031221100     2211     Census Tract 2211
2         17      031  242800  17031242800     2428     Census Tract 2428
3         17      031  242900  17031242900     2429     Census Tract 2429
4         17      031  243000  17031243000     2430     Census Tract 2430
...      ...      ...     ...          ...      ...                   ...
1327      17      031  050300  17031050300      503      Census Tract 503
1328      17      031  830700  17031830700     8307     Census Tract 8307
1329      17      031  834700  17031834700     8347     Census Tract 8347
1330      17      031  824123  17031824123  8241.23  Census Tract 8241.23
1331      17      031  804405  17031804405  8044.05  Census Tract 8044.05

      MTFCC FUNCSTAT    ALAND  AWATER  ... public_transit percent_higher_ed  \
0     G5020        S   220053       0  ...            365          0.387452
1     G5020        S   440042       0  ...            887          0.330313
2     G5020        S   439630       0  ...            187          0.222309
3     G5020        S   323819       0  ...            206          0.075476
4     G5020        S   324547       0  ...            334          0.136807
...     ...      ...      ...     ...  ...            ...               ...
1327  G5020        S   380031   14700  ...            241          0.185162
1328  G5020        S   861986    7945  ...            955          0.214050
1329  G5020        S   657991       0  ...             95          0.382224
1330  G5020        S  3917329   25455  ...            173          0.382721
1331  G5020        S  1674250       0  ...             24          0.454910

     percent_vehicle_access  percent_employed  percent_citizen  \
0                  0.314726          0.810891         0.206500
1                  0.337516          0.765504         0.170892
2                  0.148106          0.841200         0.073803
3                  0.175099          0.870141         0.253637
4                  0.229673          0.840224         0.072937
...                     ...               ...              ...
1327               0.084549          0.891565         0.053471
1328               0.588299          0.755919         0.180950
1329               0.632435          0.444126         0.127750
1330               0.039748          0.765393         0.009931
1331               0.058154          0.715713         0.322063

      percent_english_speaking  percent_older_60  percent_younger_19  \
0                     0.187617          0.176089            0.119373
1                     0.193407          0.310938            0.099775
2                     0.180711          0.355618            0.098828
3                     0.135811          0.141067            0.124750
4                     0.038286          0.250427            0.048586
...                        ...               ...                 ...
1327                  0.042744          0.238721            0.181352
1328                  0.153453          0.249683            0.139180
1329                  0.000000          0.548978            0.187486
1330                  0.024118          0.340548            0.202323
1331                  0.389532          0.190557            0.297423

      percent_disability  percent_transit
0               0.218648         0.339240
1               0.187129         0.494883
2               0.178303         0.287789
3               0.199211         0.246662
4               0.135795         0.354309
...                  ...              ...
1327            0.171660         0.211540
1328            0.305769         0.605469
1329            0.774593         0.450031
1330            0.167873         0.065859
1331            0.247640         0.022925

[1332 rows x 99 columns]

In [173]:
# Function to assign scores based on normalized values
def assign_scores(x):
    if x < 0.2:
        return 0
    elif x < 0.4:
        return 1
    elif x < 0.6:
        return 2
    elif x < 0.8:
        return 3
    else:
        return 4

# Apply the function to each value in the normalized columns and assign to new columns
for column in columns_to_normalize:
    new_df[f'{column}_score'] = new_df[column].apply(assign_scores)

print("\nDataFrame after assigning scores to new columns:")
print(new_df)

DataFrame after assigning scores to new columns:
     STATEFP COUNTYFP TRACTCE        GEOID     NAME              NAMELSAD  \
0         17      031  221000  17031221000     2210     Census Tract 2210
1         17      031  221100  17031221100     2211     Census Tract 2211
2         17      031  242800  17031242800     2428     Census Tract 2428
3         17      031  242900  17031242900     2429     Census Tract 2429
4         17      031  243000  17031243000     2430     Census Tract 2430
...      ...      ...     ...          ...      ...                   ...
1327      17      031  050300  17031050300      503      Census Tract 503
1328      17      031  830700  17031830700     8307     Census Tract 8307
1329      17      031  834700  17031834700     8347     Census Tract 8347
1330      17      031  824123  17031824123  8241.23  Census Tract 8241.23
1331      17      031  804405  17031804405  8044.05  Census Tract 8044.05

      MTFCC FUNCSTAT    ALAND  AWATER  ... income_score  \
0     G5020        S   220053       0  ...            0
1     G5020        S   440042       0  ...            1
2     G5020        S   439630       0  ...            0
3     G5020        S   323819       0  ...            0
4     G5020        S   324547       0  ...            0
...     ...      ...      ...     ...  ...          ...
1327  G5020        S   380031   14700  ...            0
1328  G5020        S   861986    7945  ...            1
1329  G5020        S   657991       0  ...            0
1330  G5020        S  3917329   25455  ...            1
1331  G5020        S  1674250       0  ...            0

     percent_higher_ed_score percent_vehicle_access_score  \
0                          1                            1
1                          1                            1
2                          1                            0
3                          0                            0
4                          0                            1
...                      ...                          ...
1327                       0                            0
1328                       1                            2
1329                       1                            3
1330                       1                            0
1331                       2                            0

      percent_employed_score  percent_citizen_score  \
0                          4                      1
1                          3                      0
2                          4                      0
3                          4                      1
4                          4                      0
...                      ...                    ...
1327                       4                      0
1328                       3                      0
1329                       2                      0
1330                       3                      0
1331                       3                      1

      percent_english_speaking_score  percent_older_60_score  \
0                                  0                       0
1                                  0                       1
2                                  0                       1
3                                  0                       0
4                                  0                       1
...                              ...                     ...
1327                               0                       1
1328                               0                       1
1329                               0                       2
1330                               0                       1
1331                               1                       0

      percent_younger_19_score  percent_disability_score  \
0                            0                         1
1                            0                         0
2                            0                         0
3                            0                         0
4                            0                         0
...                        ...                       ...
1327                         0                         0
1328                         0                         1
1329                         0                         3
1330                         1                         0
1331                         1                         1

      percent_transit_score
0                         1
1                         2
2                         1
3                         1
4                         1
...                     ...
1327                      1
1328                      3
1329                      2
1330                      0
1331                      0

[1332 rows x 109 columns]

In [169]:
# Load Chicago Tract Shapefile
boundary = gpd.read_file('cityboundary.shp')

In [ ]:
# chloropleth map showing the number of 5+ bedroom homes in each tract in Lane County, OR
# import libraries
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable

# define the plot axes
fig, ax = plt.subplots(1, 1)
divider = make_axes_locatable(ax)

# define the legend axes
cax = divider.append_axes("bottom", size="5%", pad=0.1, aspect=5.65)

# create the chloropleth map
new_df.plot(
    column = "B25041_007E",
    ax = ax,
    legend = True,
    cmap='viridis',
    cax=cax,
    legend_kwds={"label": "Number of homes with 5+ bedrooms", "orientation": "horizontal"},
);

# create a title
ax.set_title("Number of homes with 5+ bedrooms in Lane County, Oregon")

# define size of map
fig.set_size_inches(10, 10)

# remove x and y axis labels and tick marks
ax.set_xticklabels([])
ax.set_yticklabels([])
ax.set_xticks([])
ax.set_yticks([])

# show the plot
plt.show()

In [ ]:
# Filter chicago_tracts to just the extent of Cook County
cook_county_tracts = chicago_tracts.cx[cook_county_extent[0]:cook_county_extent[1], cook_county_extent[2]:cook_county_extent[3]]

# Merge demographic data with filtered tract shapefile
cook_county_tracts = cook_county_tracts.merge(data, left_on='TRACTCE', right_on='tract', how='left')

# Normalize Data
cols_to_normalize = ['Percent_non_white', 'Percent_Households_with_Own_Children_Under_18',
                     'Percent_Households_with_One_or_More_People_65_and_Over',
                     'Percent_Speak_Other_Languages', 'Percent_Total_With_Disability',
                     'Percent_Zero_vehicles_available', 'Percent_Employed',
                     'Percent_Commute_Public_Transportation']

cook_county_tracts[cols_to_normalize] = cook_county_tracts[cols_to_normalize].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

# Calculate Overall Demand Score
cook_county_tracts['Demand_Score'] = cook_county_tracts[cols_to_normalize].sum(axis=1)

# Plot Overlay Map
fig, ax = plt.subplots(figsize=(12, 12))
cook_county_tracts.plot(column='Demand_Score', cmap='afmhot_r', ax=ax, edgecolor='black', legend=True)

# Set the extent of the map to the city's boundaries
ax.set_xlim(city_bounds[0], city_bounds[2])
ax.set_ylim(city_bounds[1], city_bounds[3])

# Add the city boundaries to the map
city_boundary.plot(ax=ax, color='none', edgecolor='blue')
plt.title('Demand for Public Transport in Cook County Tracts')
# Show the map
plt.show()